body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1.topbar {
  padding-top: 5px;
  margin: 0;
  text-align: center;
  position: fixed;
  top: 0;
  height: 50px;
  background-color: #122C2E;
  color: #17B290;
  width: 100%;
}

.scrollable {
  position: absolute;
  background: #DAE6E3;
  margin: 0;
  top: 50px;
  bottom: 0;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-padding-start: 0;
}

.list-item {
  background-color: white;
  list-style-type: none;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #DDD;
}

.backlink {
  color: #17B290;
  text-decoration: none;
  font-size: 0.6em;
  font-weight: normal;
  position: absolute;
  left:10px;
  top: 0;
  line-height: 50px;
}
