
#chat-history .messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#chat-history .messages li {
  display: block;
  margin-bottom: 10px;
}

#chat-history .messages li.outgoing {
  display: block;
  margin-bottom: 10px;
  position: relative;
  text-align: right;
}

#chat-history .messages li .bubble {
  position:relative;
  padding: 15px;
  padding-top: 5px;
  margin: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  width: auto;
  color: black;
}

#chat-history .messages li.outgoing .bubble {
  background: #17B290;
  margin-right: 20px;
  box-shadow: -2px 3px 2px 1px #122C2E;
}

#chat-history .messages li.incoming .bubble {
  background: #AAA;
  margin-left: 20px;
  box-shadow: 2px 3px 2px 1px #333;
}

#chat-history .messages li .bubble:before {
  content: "";
  position: absolute;
  border-style: solid;
  display: inline-block;
  top: 0px;
  width: 0;
}

#chat-history .messages li.incoming .bubble:before {
  border-color: #AAA transparent;
  left: -10px;
  border-width: 20px 0 0 20px;
}

#chat-history .messages li.outgoing .bubble:before {
  border-color: #17B290 transparent;
  right: -10px;
  border-width: 20px 20px 0 20px;
}

#chat-history .messages li .timestamp {
  color: #666;
  font-size: 0.8em;
  display: block;
  padding-top: 5px;
}

#chat-history .messages li.incoming .timestamp {
  padding-left: 22px;
}

#chat-history .messages li.outgoing .timestamp {
  padding-right: 22px;
}

#chat-history .messages li .author {
  font-size: 0.8em;
  display: block;
  margin-bottom: 10px;
}
